.reg-email__block
	.reg-email__title
		h3.reg-email__text-main Text Field
		p.reg-email__text Hover / Focus
	input(type = "text", class = "reg-email__input", name = "user-email", placeholder="Text" value="This is pretty awesome")