/* start header-reg style */
@import "@variables";
.header-reg {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  &__container {
    display: flex;
  }
}
.menu-header {
  margin: auto 0;
  margin-right: 20px;
  &__list {
    display: flex;
    & > *:not(:last-child) {
      padding-right: 20px;
    }
  }
  &__link {
    color: $dark-50;
    & span {
      font-weight: 700;
      color: $dark-75;
    }
    & > .icon-more {
      position: absolute;
      color: $dark-50;
      display: inline-block;
      padding-left: 4px;
      top: 1px;
    }
  }
  &__item {
    position: relative;
  }
}
.account-head {
  display: flex;
  justify-content: space-between;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
}
.link-icon_padding {
  padding-right: 20px;
}
/* end header-reg style */