include /components/buttons/buttons/buttons-mixin/button-border.pug
include /components/buttons/buttons/buttons-mixin/button.pug
header.header-reg.header
  .header-reg__container.header-container._container
    .header-reg__logo.hotel-logo
      a(class="hotel-logo__link" href="#")
        .hotel-logo__row
          img(src="../src/images/icons/header-logo.svg" class="hotel-logo__img" alt="hotel-logo")
          img(src="../src/images/icons/logo-text.svg" class="hotel-logo__img" alt="hotel-logo")
    .header-reg__body.header-body
      .header-body__burger
        span
      nav.header-reg__menu.menu-header
        ul.menu-header__list
          li.menu-header__item
            a.menu-header__link(href="#") О нас
          li.menu-header__item
            a(class="menu-header__link link-icon_padding" href="#") Услуги
              .icon-more
          li.menu-header__item
            a.menu-header__link(href="#") Вакансии
          li.menu-header__item
            a.menu-header__link(href="#") Новости
          li.menu-header__item
            a(class="menu-header__link link-icon_padding" href="#") Соглашения
              .icon-more
      .header-reg__account.account-head
        form(class="account-head__btn account-head__btn-login" action="login-page.html")
          +buttonBorder("войти", "active-login")
        form(class="account-head__btn account-head__btn-reg" action="reg-page.html")
          +button("зарегистрироваться", "active-reg")