/* start header-reg style */
@import "@mixin";
@import "@variables";
.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  @include adaptive-value("padding-top", 15, 5, 1);
  @include adaptive-value("padding-bottom", 15, 5, 1);
}
.header-body {
  align-items: center;
  display: flex;
  &__burger {
    @media (max-width: 768px) {
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 4;
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $dark-100;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.3s;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      & span {
        position: absolute;
        background-color: $dark-100;
        top: 46%;
        left: 0;
        width: 100%;
        height: 2px;
        transition: 0.3s;
      }
    }
    &.burger-active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.burger-active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.burger-active span {
      transform: scale(0);
    }
    &.burger-active {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.hotel-logo {
  display: flex;
  align-items: center;
  &__row {
    display: flex;
    align-items: center;
    & > *:first-child {
      @include adaptive-value("height", 40, 30, 1);
    }
    & > *:last-child {
      height: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768)));
      @media (max-width: 768px) {
        height: 10px;
      }
    }
  }
  &__img {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
.menu-header {
  @include adaptive-value("margin-right", 20, 0, 1);
  &__list {
    @include adaptive-value("font-size", 14, 10, 1);
    padding-left: 20px;
    min-width: 110px;
    display: flex;
    flex-wrap: wrap;
    & > *:not(:last-child) {
      @include adaptive-value("padding-right", 20, 5, 1);
    }
  }
  &__link {
    color: $dark-50;
    & > .icon-more {
      position: absolute;
      @include adaptive-value("font-size", 13, 10, 1);
      color: $dark-50;
      display: inline-block;
      padding-left: 7px;
      @include adaptive-value("top", 2.8, 1, 1);
    }
  }
  &__item {
    position: relative;
  }
}
.account-head {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
  &__btn-login .button__item-border {
    padding: 7.5px 18.3px;
  }
  &__btn-reg .button__item_default {
    padding: 9.5px 19.85px;
  }
}
.link-icon_padding {
  padding-right: 26px;
}
@media (max-width: 1200px) {
  .account-head {
    flex-direction: column;
    & > *:not(:last-child) {
      padding-bottom: 5px;
      margin-right: 0;
    }
  }
}
@media (max-width: #{$phone-width + px}) {
  .menu-header {
    &__list {
      flex-direction: column;
    }
  }
}
@media (max-width: 768px) {
  .menu-header {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.3s;
    z-index: 3;
    &__list {
      flex-direction: column;
      margin: 100px 0 0 20px;
    }
    &__item:not(:last-child) {
      padding-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (768 - 320)));;
    }
    &__link {
      color: $dark-100;
      font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (768 - 320)));
      & > .icon-more {
        color: $dark-100;
        font-size: calc(15px + (19 - 15) * ((100vw - 320px) / (768 - 320)));
        top: 2.5px;
      }
    }
  }
  .menu-header.burger-active {
    top: 0;
  }
  .account-head {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: -100%;
    transition: 0.3s;
    z-index: 4;
    & > *:not(:last-child) {
      margin-right: calc(30px + (40 - 30) * ((100vw - 320px) / (768 - 320)));
    }
    &__btn-login .button__item-border {
      padding: 12.5px 24.3px;
    }
    &__btn-reg .button__item_default {
      padding: 14.5px 24.85px;
    }
    &__btn .button__item {
      font-size: 12px;
    }
  }
  .account-head.burger-active {
    bottom: 40px;
    left: 40px;
  }
}
/* end header-reg style */
