/* start header-reg style */
@import "@mixin";
@import "@variables";
.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  @include adaptive-value("padding-top", 15, 5, 1);
  @include adaptive-value("padding-bottom", 15, 5, 1);
}
.header-content {
  align-items: center;
  display: flex;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.hotel-logo {
  display: flex;
  align-items: center;
  &__row {
    display: flex;
    & > *:first-child {
      @include adaptive-value("height", 40, 30, 1);
    }
  }
  &__img {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}
.menu-header {
  @include adaptive-value("margin-right", 20, 0, 1);
  &__list {
    @include adaptive-value("font-size", 14, 10, 1);
    padding-left: 20px;
    min-width: 110px;
    display: flex;
    flex-wrap: wrap;
    & > *:not(:last-child) {
      @include adaptive-value("padding-right", 20, 5, 1);
    }
  }
  &__link {
    color: $dark-50;
    & > .icon-more {
      position: absolute;
      @include adaptive-value("font-size", 13, 10, 1);
      color: $dark-50;
      display: inline-block;
      padding-left: 7px;
      top: 1.5px;
    }
  }
  &__item {
    position: relative;
  }
}
.account-head {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
  &__btn-login .button__item-border {
    padding: 7.5px 18.3px;
  }
  &__btn-reg .button__item_default {
    padding: 9.5px 19.85px;
  }
}
.link-icon_padding {
  padding-right: 26px;
}
@media (max-width: 1200px) {
  .account-head {
    flex-direction: column;
    & > *:not(:last-child) {
      padding-bottom: 5px;
      margin-right: 0;
    }
  }
}
@media (max-width: #{$phone-width + px}) {
  .menu-header {
    &__list {
      flex-direction: column;
    }
  }
  .hotel-logo {
    &__row > *:last-child {
      display: none;
    }
    &__row > *:first-child {
      margin: 0;
    }
  }
}
/* end header-reg style */
