/* start dropdown-room style */
@import "@variables";
.dropdown-room-container {
	width: 266px;
}
.dropdown-room {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 21px;
	&__title-block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
	}
	&__subtitle {
		font-size: $h3;
		line-height: $lh_h3;
		text-transform: uppercase;
		color: $dark-50;
	}
	&__input {
		position: relative;
		width: 100%;
		height: 44px;
		padding-left: 15px;
		color: $dark-75;
		background-color: #fff;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		&:hover {
			border: 1px solid $dark-50;
		}
		&:focus {
			border: 1px solid $dark-50;
		}
	}
	&__label {
		position: absolute;
		font-size: 14px;
		right: 15px;
		top: 50%;
		transition: 0.4s;
	}
	&__block {
		position: absolute;
		color: $dark-100;
		font-size: $h3;
		line-height: $lh_h3;
		z-index: 10;
		background-color: #fff;
		font-weight: 700;
		width: 100%;
		padding: 5px 6px 0px 14px;
		border: 1px solid $dark-50;
		border-radius: 0 0 4px 4px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;
		vertical-align: middle;
	}
	&__counter {
		display: table;
		width: 92px;
		justify-self: end;
		align-self: center;
	}
	&__text {
		align-self: center;
	}
	&__value {
		display: table-cell;
		width: 32px;
		text-align: center;
		vertical-align: middle;
		font-size: $h3;
		line-height: $lh_h3;
		font-weight: 700;
	}
	&__btn {
		position: relative;
		width: 30px;
		height: 30px;
		border: 1px solid $dark-50;
		border-radius: 50%;
		background-color: #fff;
		font-size: 20px;
		&_minus {
			border: 1px solid $dark-25;
			color: $dark-25;
		}
		&_plus {
			color: $dark-50;
		}
		&_minus::after {
			content: "-";
			position: absolute;
			top: 0;
			left: 10px;
		}
		&_plus::after {
			content: "+";
			position: absolute;
			top: 1.5px;
			left: 8.5px;
		}
	}
	&._active-dropdown-room .dropdown-room__input {
		border-radius: 4px 4px 0 0;
	}
	&._active-dropdown-room .dropdown-room__block {
		display: block;
	}
	&._active-dropdown-room .dropdown-room__label {
		transform: rotateX(180deg);
		top: 45%;
		transition: 0.4s;
	}
}
/* end dropdown-room style */
