extends /pages/base.pug

block head
	title Cards
block content
	include /pages/header/header_ui.pug
	.cards._container
		include /popUp-element/room-select/room-select.pug
		include /popUp-element/total-price/total-price.pug
		include /popUp-element/calendar-card/calendar-card.pug