extends /pages/base.pug

block head
	title Cards
block content
	include /pages/header/header_ui.pug
	.cards._container
		.card__item
			include /popUp/room-select/room-select.pug
			include /popUp/reg-card/reg-card.pug
		.card__item
			include /popUp/total-price/total-price.pug
			include /popUp/login-card/login-card.pug
		.card__item
			include /popUp/calendar-card/calendar-card.pug