mixin radio-button()
	.radio-button__list
		label(class="radio-button__label")
			input(class="radio-button__input" type="radio" name="radio-button" checked)
			span(class="radio-button__check")
			| Мужчина
		label(class="radio-button__label")
			input(class="radio-button__input" type="radio" name="radio-button")
			span(class="radio-button__check")
			| Женщина