include /components/buttons/toggle/toggle.pug
.toggle
	h3.toggle__title.title-style Toggle
	+toggle("special-offers", "Получать спецпредложения", true)
	+toggle("special-offers", "Получать спецпредложения")