@import "@variables";
.colors-type__container {
	display: flex;
	justify-content: space-between;
}
.main__colors-type {
	margin-top: 37px;
}
/*   color style start  	*/

.colors {
	display: flex;
	flex-direction: column;
	color: $cr_colors;
	min-width: 281px;
	font-size: 19px;
	line-height: calc(27.79 / 19 * 100%);
	&__block {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	&__rectangle {
		width: 70px;
		height: 70px;
		border-radius: 8px;
		margin-right: 40px;
	}
	&_black-100 {
		background-color: $dark-100;
	}
	&_black-75 {
		background-color: $dark-75;
	}
	&_black-50 {
		background-color: $dark-50;
	}
	&_black-25 {
		background-color: $dark-25;
	}
	&_black-5 {
		background-color: $dark-5;
	}
	&_purple {
		background-color: $purple;
	}
	&_green {
		background-color: $green;
	}
	&__title {
		font-weight: 700;
	}
}

/*   color style end  	*/

/*   text style start  	*/

.main__text > * {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	margin-bottom: 50px;
}
.text__title {
	color: rgba(31, 32, 65, 0.25);
	text-align: right;
}
.text__subtitle {
	color: $cr_colors;
	font-weight: 700;
	max-width: 370px;
}
.text__h1 {
	font-size: $h1;
	line-height: $lh_h1;
}
.text__h2 {
	font-size: $h2;
	line-height: $lh_h2;
}
.text__h3 {
	font-size: $h3;
	line-height: $lh_h3;
}
.subtitle-h3 {
	text-transform: uppercase;
}
.subtitle-body {
	font-weight: 400;
}
/*   text style end  	*/
