/* start footer style */
@import "@mixin";
@import "@variables";
.footer {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-bottom: 40px;
  &__nav {
    padding-top: 4.5px;
  }
  &-top {
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-self: center;
      @include adaptive-value("padding-top", 100, 10, 1);
      @include adaptive-value("padding-bottom", 95, 10, 1);
    }
    &__logo {
      & > .hotel-logo__link {
        @include adaptive-value("margin-bottom", 17, 8, 1);
      }
      &.hotel-logo {
        flex-direction: column;
        align-items: flex-start;
      } 
    }
  }
}
.hotel-logo__text {
  @include adaptive-value("font-size", 14, 6, 1);
  max-width: 260px;
}
.hotel-nav {
  width: 560px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > *:not(:first-child) {
    padding: 0 10px;
  }
  & > *:last-child {
    padding: 0;
  }
  &__list {
    & > *:first-child {
      color: $dark-100;
      @include adaptive-value("font-size", 12, 6, 1);
      line-height: $lh_h3;
      font-weight: 700;
      text-transform: uppercase;
      @include adaptive-value("margin-bottom", 18, 5, 1);
    }
    & > *:not(:first-child) {
      @include adaptive-value("margin-bottom", 14.3, 0, 1);
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    @include adaptive-value("font-size", 14, 6, 1);
    color: $dark-50;
  }
}
.hotel-subscription {
  padding-top: 4.5px;
  &__title {
    color: $dark-100;
    text-transform: uppercase;
    @include adaptive-value("font-size", 12, 6, 1);
    line-height: $lh_h3;
    font-weight: 700;
    @include adaptive-value("margin-bottom", 18, 0, 1);
  }
  &__text {
    @include adaptive-value("font-size", 14, 6, 1);
    @include adaptive-value("margin-bottom", 18, 0, 1);
    max-width: 260px;
  }
}
.footer-border {
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}
.footer-bottom {
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 24.5px 0;
  }
  &__social {
    display: flex;
    align-items: center;
    & > * {
      font-size: 24px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	  	-webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
    }
    & > *:not(:last-child) {
      padding-right: 20px;
    }
    & > *:not(:first-child) {
      font-size: 22px;
    }
  }
}
@media (max-width: 1439px) {
  .footer {
    &-top {
      &__row {
        flex-direction: column;
        & > *:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
/* end footer style */