include /components/sub-field/sub-field.pug
footer.footer
  .footer-top._container
    .footer-top__row
      .footer-top__logo.hotel-logo
        a(class="hotel-logo__link" href="#")
          .hotel-logo__row
            img(src="../src/images/icons/header-logo.svg" class="hotel-logo__img" alt="hotel-logo")
            img(src="../src/images/icons/logo-text.svg" class="hotel-logo__img" alt="hotel-logo")
        .hotel-logo__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__nav.hotel-nav
        ul.hotel-nav__list
          li.hotel-nav__item навигация
          li.hotel-nav__item
            a.hotel-nav__link(href="#") О нас
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Новости
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Служба поддержки
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Услуги
        ul.hotel-nav__list
          li.hotel-nav__item о нас
          li.hotel-nav__item
            a.hotel-nav__link(href="#") О сервисе
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Наша команда
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Вакансии
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Инвесторы
        ul.hotel-nav__list
          li.hotel-nav__item Служба поддержки
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Соглашения
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Сообщества
          li.hotel-nav__item
            a.hotel-nav__link(href="#") Связь с нами
      .footer__subscription.hotel-subscription
        .hotel-subscription__title Подписка
        .hotel-subscription__text Получайте специальные предложения и новости сервиса
        .hotel-subscription__input
          +subField("", "Email")
  .footer-border
  .footer-bottom._container
    .footer-bottom__row
      .footer-bottom__text Copyright © 2018 Toxin отель. Все права защищены.
      .footer-bottom__social
        a(href="https://twitter.com")
          .icon-twitter
        a(href="http://www.facebook.com")
          .icon-facebook
        a(href="https://www.instagram.com")
          .icon-instagram


    
