//--------------------              Переменные размера текста
// Размеры текста h1
$h1: 24px;
$lh_h1: calc(29 / 24 * 100%);
// Размеры текста h2
$h2: 19px;
$lh_h2: calc(23 / 19 * 100%);
// Размеры текста h3
$h3: 12px;
$lh_h3: calc(15 / 12 * 100%);
// Размеры основого текста
$fz_body: 14px;
$lh_body: calc(24 / 14 * 100%);

//---------------------            Переменные body

$color: rgba(31, 32, 65, 0.75);
$bg: #ffffff;

//---------------------           Переменные блока header__ui
// Минимальная высота header в ui
$hg_icon: 108px;

// Переменные блока colors

$fz_colors: 19px;
$lh_colors: calc(28 / 19 * 100%);
$cr_colors: #1f2041;

//--------------------           Переменные цветов текста

$dark-100: #1f2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.1);
$dark-5: rgba(31, 32, 65, 0.05);

$purple: #bc9cff;
$green: #6fcf97;

//---------------------         Медиа переменные

$dekstop-width: 1920px;
$sm-dekstop-width: 980px;
$table-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

// ---------------------       Переменные forms-elements
// Ширина поля формы
$form_width: 320px;
