include /components/date-dropdown/date-dropdown.pug
include /components/dropdown/dropdown-guests/dropdown-guests.pug
include /components/buttons/buttons/buttons-mixin/button-price.pug
form(action="#" class="total-price cards-element")
	.total-price__container._container-card
		.total-price__head.price-head
			.price-head__number
				span №
				| 888
				span люкс
			.price-head__price
				span 9 990₽
				| в сутки
		.total-price__date-container
			+dateDropdown("прибытие", "выезд")
		.total-price__drop-container
			+dropGuests("гости", "0", "0", "0")
		.total-price__bill-top.bill-top
			.bill-top__item
				.bill-service__text 9 990₽ х 4 суток
				.bill-top__price 39 960₽
			.bill-top__item
				.bill-service
					.bill-service__text Сбор за услуги: скидка 2 179₽
					.info-icon
				.bill-top__price 0₽
			.bill-top__item
				.bill-service
					.bill-service__text Сбор за дополнительные услуги
					.info-icon
				.bill-top__price 300₽
		.total-price__bill-bottom.bill-bottom
			.bill-bottom__text Итого
			.bill-bottom__dots
			.bill-bottom__price 38 081₽
		+buttonPrice("забронировать")