include /components/checkbox-rich/checkbox-rich.pug
.checkbox-rich
	h3.checkbox-rich__title.title-style rich Checkbox Buttons
	.checkbox-rich__container
		+checkboxRich("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
		+checkboxRich("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")