/* start checkbox-rich style */
@import "@variables";
.checkbox-rich {
	width: $form_width;
	&__title {
		margin-bottom: 14px;
	}
	&__container {
		max-width: 266px;
	}
	&__container > label:not(:last-child) {
		margin-bottom: 6px;
	}
	&__subtitle {
		padding-top: 2px;
		font-weight: 400;
		color: $dark-50;
		font-size: $h3;
		line-height: $lh_h3;
	}
	&__label {
		cursor: pointer;
		font-size: $fz_body;
		line-height: $lh_body;
		color: $dark-75;
		font-weight: 700;
	}
	&__input {
		top: 1.5px;
	}
	&__check {
		top: 0.5px;
	}
}
/* end checkbox-rich style */
