mixin checkboxRichItem(title, subtitle, name)
	label.checkbox__label.checkbox-rich__label
			input(class="checkbox__input checkbox-rich__input" name=name value="yes" type="checkbox" checked=check)
			span(class="checkbox__check checkbox-rich__check icon-vector")
			=title
			.checkbox-rich__subtitle=subtitle