/* start checkbox-rich style */
@import "@variables";
@import "@mixin";
.checkbox-rich {
	box-sizing: border-box;
	width: $form_width;
	&__title {
		margin-bottom: 14px;
	}
	&__container {
		max-width: 260px;
	}
	&__container > label:not(:last-child) {
		margin-bottom: 6px;
	}
	&__subtitle {
		padding-top: 2px;
		font-weight: 400;
		color: $dark-50;
		@include adaptive-value("font-size", 12, 10, 1);
		line-height: $lh_h3;
	}
	&__label {
		&:first-child {
			max-width: 235px;
		}
		cursor: pointer;
		@include adaptive-value("font-size", 14, 12, 1);
		line-height: $lh_body;
		color: $dark-75;
		font-weight: 700;
	}
	&__input {
		top: 1.5px;
	}
	&__check {
		top: 0.5px;
	}
}
/* end checkbox-rich style */
