mixin checkboxRich(title, subtitle)
	label.checkbox__label.checkbox-rich__label
			input(class="checkbox__input checkbox-rich__input" type="checkbox" checked=check)
			span(class="checkbox__check checkbox-rich__check icon-vector")
			=title
			.checkbox-rich__subtitle=subtitle