.date-dropdown
	.date-dropdown__block-one
		h3.date-dropdown__text.title-style date Dropdown
		input(class="date-dropdown__input" type="text", id="calendar-drop-one", placeholder="ДД.ММ.ГГГГ")
	.date-dropdown__block-two
		h3.date-dropdown__text.title-style date Dropdown
		input(class="date-dropdown__input" type="text", id="calendar-drop-two", placeholder="ДД.ММ.ГГГГ")