.date-dropdown
	.date-dropdown__block-one
		h3.date-dropdown__text.title-style date Dropdown
		input(class="date-dropdown__input date-dropdown__input-one" type="text" id="calendar-drop" placeholder="ДД.ММ.ГГГГ")
		label(class="date-dropdown__label date-dropdown__label-one icon-more" for="calendar-drop")
	.date-dropdown__block-two
		h3.date-dropdown__text.title-style date Dropdown
		input(class="date-dropdown__input date-dropdown__input-two" type="text", placeholder="ДД.ММ.ГГГГ" id="calendar-dropdown")
		label(class="date-dropdown__label date-dropdown__label-two icon-more" for="calendar-dropdown")