/* start date-dropdown style */
@import "@variables";
@import "@mixin";
.date-dropdown-container {
	margin-bottom: 40px;
}
.date-dropdown {
	position: relative;
	display: flex;
	justify-content: space-between;
	& > *:not(:last-child) {
		margin-right: 20px;
	}
	&__text {
		margin-bottom: 6px;
	}
	&__input {
		@include adaptive-value("font-size", 14, 11, 1);
		width: 100%;
		@include adaptive-value("height", 44, 30, 1);
		border: 1px solid $dark-25;
		border-radius: 4px;
		padding-left: 15px;
		&:focus,
		&:hover {
			border: 1px solid $dark-50;
		}
	}
	&__label {
		position: absolute;
		font-size: 13px;
		transition: 0.4s;
		&-one {
			right: 15px;
			@include adaptive-value("top", 31, 22, 1);
		}
		&-two {
			left: 38%;
			@include adaptive-value("top", 31, 22, 1);
		}
	}
}
/* end date-dropdown style */
