/* start date-dropdown style */
@import "@variables";
.date-dropdown {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	& > *:not(:last-child) {
		margin-right: 20px;
	}
	&__text {
		margin-bottom: 6px;
	}
	&__input {
		width: 100%;
		height: 44px;
		border: 1px solid $dark-25;
		border-radius: 4px;
		padding-left: 15px;
		&:focus,
		&:hover {
			border: 1px solid $dark-50;
		}
	}
	&__label-one {
		position: absolute;
		font-size: 14px;
		right: 15px;
		top: 50%;
		transition: 0.4s;
	}
	&__label-two {
		position: absolute;
		font-size: 14px;
		left: 37%;
		top: 50%;
		transition: 0.4s;
	}
}
/* end date-dropdown style */
