.main__colors.colors
	.colors__block
		.colors__rectangle.colors__black_100
		.colors__text
			.colors__title Dark Shade 100%
			.colors__hex #1F2041
	.colors__block
		.colors__rectangle.colors__black_75
		.colors__text
			.colors__title Dark Shade 75%
			.colors__hex #1F2041
	.colors__block
		.colors__rectangle.colors__black_50
		.colors__text
			.colors__title Dark Shade 50%
			.colors__hex #1F2041
	.colors__block
		.colors__rectangle.colors__black_25
		.colors__text
			.colors__title Dark Shade 25%
			.colors__hex #1F2041
	.colors__block
		.colors__rectangle.colors__black_5
		.colors__text
			.colors__title Dark Shade 5%
			.colors__hex #1F2041
	.colors__block
		.colors__rectangle.colors__purple
		.colors__text
			.colors__title Purple
			.colors__hex #BC9CFF
	.colors__block
		.colors__rectangle.colors__green
		.colors__text
			.colors__title Green
			.colors__hex #6FCF97