.main__text.text
	.text__h1
		.text__title.title-h1 H1
		h1.text__subtitle.subtitle-h1 This one is the sub-section or widget title
	.text__h2
		.text__title.title-h2 H2
		h1.text__subtitle.subtitle-h2 Next one is the item title inside widgets
	.text__h3
		.text__title.title-h3 H3
		h1.text__subtitle.subtitle-h1 This is a label or CTA text
	.text__body
		.text__title.title-body Body
		h1.text__subtitle.subtitle-body This one is the sub-section or widget title