include /components/buttons/buttons/button-price.pug
include /components/dropdown/dropdown-guests/dropdown-guests.pug
include /components/date-dropdown/date-dropdown.pug
.room-select
	.room-select__container
		h1.room-select__title Найдём номера под ваши пожелания
		.room-select__date-container
			+dateDropdown("прибытие", "выезд")
		.room-select__drop-container
			+dropGuests("гости", "3", "0", "0")
		+buttonPrice("подобрать номер")
