/* start total style form-element */
@import "@variables";
._container-form {
	display: flex;
	justify-content: space-between;
}
.form-element {
	&__container-one {
		margin-top: 32px;
		margin-bottom: 100px;
	}
	&__container-two {
		margin-bottom: 168px;
	}
	&__drop-rooms {
		width: $form_width;
	}
	&__first-block {
		max-width: $form_width;
	}
	&__second-block {
		max-width: $form_width;
	}
	&__third-block {
		width: $form_width;
	}
	&__list {
		margin-bottom: 40px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__other {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}
}
/* end total style form-element */
