include /components/text-field/text-field.pug
include /components/buttons/buttons/buttons-mixin/button-price.pug
form(action="#" class="login-card cards-element")
  .login-card__container._container-card
    h1.login-card__title Войти
    .login-card__field
      +textField("text", "", "", "email", "Email")
      +textField("password", "", "", "password", "Пароль")
    .login-card__button
      +buttonPrice("войти")
    .login-card__reg.login-reg
      .login-reg__text Нет аккаунта на Toxin?
      .login-reg__button
        +buttonBorder("создать")