/* start dropdown-expanded style */
@import "@variables";
.dropdown-guests-expanded {
	position: relative;
	box-sizing: border-box;
	width: 320px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 23px;
	&__title {
		margin-bottom: 5px;
	}
	&__input {
		position: relative;
		width: 100%;
		height: 44px;
		padding-left: 15px;
		color: $dark-75;
		background-color: #fff;
		border: 1px solid $dark-50;
		border-radius: 4px 4px 0 0;
	}
	&__label {
		position: absolute;
		font-size: 14px;
		right: 15px;
		top: 50%;
		transition: 0.4s;
	}
	&__block {
		position: absolute;
		color: $dark-100;
		font-size: $h3;
		line-height: $lh_h3;
		z-index: 10;
		background-color: #fff;
		font-weight: 700;
		width: 100%;
		padding: 4px 6px 12px 15px;
		border: 1px solid $dark-50;
		border-radius: 0 0 4px 4px;
	}
	&__list {
		padding-bottom: 14px;
	}
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 7px;
		vertical-align: middle;
	}
	&__counter {
		display: table;
		width: 92px;
		justify-self: end;
		align-self: center;
	}
	&__text {
		align-self: center;
	}
	&__value {
		display: table-cell;
		width: 32px;
		text-align: center;
		vertical-align: middle;
		font-size: $h3;
		line-height: $lh_h3;
		font-weight: 700;
	}
	&__btn {
		position: relative;
		width: 30px;
		height: 30px;
		border: 1px solid $dark-50;
		border-radius: 50%;
		background-color: #fff;
		font-size: 20px;
		&_minus {
			border: 1px solid $dark-25;
			color: $dark-25;
		}
		&_plus {
			color: $dark-50;
		}
		&_minus::after {
			content: "-";
			position: absolute;
			top: 0;
			left: 10px;
		}
		&_plus::after {
			content: "+";
			position: absolute;
			top: 1.5px;
			left: 8.5px;
		}
	}
	&-btns {
		display: flex;
		justify-content: space-between;
	}
	&-btn {
		font-size: $h3;
		line-height: $lh_h3;
		background-color: #fff;
		color: $purple;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.btn-expanded {
	justify-content: flex-end;
}
.minus-expanded {
	border: 1px solid $dark-50;
	color: $dark-50;
}
/* end dropdown-expanded style */
