mixin dropGuests(title, numOne, numTwo, numThree)
	.dropdown-guests
		h3.dropdown-guests__title.title-style(id="title")=title
		input(type="text" class="dropdown-guests__input" value="Сколько гостей" id="more")
		label(class="dropdown-guests__label icon-more" for="more")
		.dropdown-guests__block(hidden)
			ul.dropdown-guests__list
				li.dropdown-guests__item
					p.dropdown-guests__text взрослые
					.dropdown-guests__counter
						button(class="dropdown-guests__btn dropdown-guests__btn_minus" data-direction="minus")
						span(class="dropdown-guests__value")=numOne
						button(class="dropdown-guests__btn dropdown-guests__btn_plus" data-direction="plus")
				li.dropdown-guests__item
					p.dropdown-guests__text дети
					.dropdown-guests__counter
						button(class="dropdown-guests__btn dropdown-guests__btn_minus" data-direction="minus")
						span(class="dropdown-guests__value")=numTwo
						button(class="dropdown-guests__btn dropdown-guests__btn_plus" data-direction="plus")
				li.dropdown-guests__item
					p.dropdown-guests__text младенцы
					.dropdown-guests__counter
						button(class="dropdown-guests__btn dropdown-guests__btn_minus" data-direction="minus")
						span(class="dropdown-guests__value")=numThree
						button(class="dropdown-guests__btn dropdown-guests__btn_plus" data-direction="plus")
			.dropdown-guests-btns
				button(class="dropdown-guests-btn dropdown-guests-btn__clear" data-clear="clear") очистить
				button(class="dropdown-guests-btn dropdown-guests-btn__ready") применить