.dropdown-guests
	h3.dropdown-guests__title.title-style(id="title") Dropdown
	input(type="text" class="dropdown-guests__input" value="Сколько гостей" id="more")
	label(class="dropdown-guests__label icon-more" for="more")
	.dropdown-guests__block(hidden)
		ul.dropdown-guests__list
			li.dropdown-guests__item
				p.dropdown-guests__text взрослые
				.dropdown-guests__counter
					button(class="dropdown-guests__btn dropdown-guests__btn_minus")
					span(class="dropdown-guests__value") 0
					button(class="dropdown-guests__btn dropdown-guests__btn_plus")
			li.dropdown-guests__item
				p.dropdown-guests__text дети
				.dropdown-guests__counter
					button(class="dropdown-guests__btn dropdown-guests__btn_minus")
					span(class="dropdown-guests__value") 0
					button(class="dropdown-guests__btn dropdown-guests__btn_plus")
			li.dropdown-guests__item
				p.dropdown-guests__text младенцы
				.dropdown-guests__counter
					button(class="dropdown-guests__btn dropdown-guests__btn_minus")
					span(class="dropdown-guests__value") 0
					button(class="dropdown-guests__btn dropdown-guests__btn_plus")
		.dropdown-guests-btns
			button(class="dropdown-guests-btn dropdown-guests-btn__clear") очистить
			button(class="dropdown-guests-btn dropdown-guests-btn__ready") применить