/* start checkbox-list style */
@import "@variables";
.checkbox-list__container {
	width: $form_width;
}
.checkbox-list__ui {
	position: relative;
	margin-bottom: 20px;
}
.checkbox-list {
	position: relative;
	&__label {
		cursor: pointer;
	}
	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	&__icon {
		font-size: 13px;
		position: absolute;
		top: 6px;
		right: 70px;
		transition: 0.5s;
	}
	&.dropdown-list_active .checkbox-list__items {
		display: block;
		margin-top: 16px;
	}
	&.dropdown-list_active .checkbox-list__icon {
		top: 5px;
		transform: rotateX(180deg);
	}
	&__items > label:not(:last-child) {
		margin-bottom: 12px;
	}
}
/* end checkbox-list style */
