/* start checkbox-list style */
@import "@variables";
@import "@mixin";
.checkbox-list-container {
	width: $form_width;
}
.checkbox-list__ui {
	position: relative;
	margin-bottom: 40px;
	max-width: 266px;
}
.checkbox-list {
	box-sizing: border-box;
	max-width: 266px;
	position: relative;
	&__label {
		cursor: pointer;
	}
	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	&__icon {
		color: $dark-50;
		font-size: 13px;
		position: absolute;
		@include adaptive-value("top", 5, 6, 1);
		right: 6%;
		transition: 0.5s;
	}
	&.dropdown-list_active .checkbox-list__items {
		display: block;
		margin-top: 16px;
	}
	&.dropdown-list_active .checkbox-list__icon {
		@include adaptive-value("top", 4, 5, 1);
		transform: rotateX(180deg);
	}
	&__items > label:not(:last-child) {
		margin-bottom: 12px;
	}
}
/* end checkbox-list style */
