include /components/buttons/checkbox/checkbox.pug
mixin checkboxList(title, classDrop)
	.checkbox-list
		label(class="checkbox-list__label title-style")
			input(type="checkbox" class="checkbox-list__input")
			span(class="checkbox-list__icon icon-more")
			=title
		.checkbox-list__items(hidden)
			+checkbox("breakfast", "Завтрак")
			+checkbox("desk", "Письменный стол", true)
			+checkbox("cheair-feeding", "Стул для кормления", true)
			+checkbox("bed", "Кроватка", true)
			+checkbox("TV", "Телевизор")
			+checkbox("shampoo", "Шампунь")
			+checkbox("TV", "Телевизор")
			+checkbox("shampoo", "Шампунь")