extends base

block content
	.wrapper
		<!-- header-ui start -->
		header.header
			include header/header_ui
		<!-- header-ui end -->
		main.main
			<!-- colors and type start -->
			include colors&type/colors&type
			<!-- colors and type end -->
			.main__form-element.form-element
				.form-element__container._container
					include form-element/form-element