extends /pages/base.pug

block head
	title Main-Page
block content
	include /pages/header-ui/header_ui.pug
	.page._container
		.page__column
			a(class="page__link" href="colors-type.html") colors-type
		.page__column
			a(class="page__link" href="form-elements.html") form-elements
		.page__column
			a(class="page__link" href="cards.html") cards
		.page__column
			a(class="page__link" href="headers-footers.html") headers-footers