@import "@variables";
/* start calendar style */
.calendar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 320px;
	&__text {
		margin-bottom: 5px;
	}
	&__input {
		position: relative;
		width: 100%;
		height: 44px;
		padding-left: 15px;
		font-size: $fz_body;
		line-height: $lh_body;
		text-transform: uppercase;
		border-radius: 4px;
		color: $dark-25;
		border: 1px solid rgba(31, 32, 65, 0.25);
		&::-webkit-calendar-picker-indicator {
			opacity: 0;
		}
		&:hover {
			border: 1px solid $dark-50;
		}
		&:focus {
			border: 1px solid $dark-50;
		}
	}
}
.air-datepicker {
	width: 320px;
	background: #fff;
	border: 1px solid $dark-25;
	box-shadow: none;
}
.air-datepicker-body {
	font-family: "Montserrat";
	font-size: $h3;
	line-height: $lh_h3;
	color: $dark-50;
}
.air-datepicker-body--day-names {
	grid-template-columns: repeat(7, 40px);
	margin: 0;
}
.air-datepicker-body--day-name {
	font-family: "Montserrat";
	color: $purple;
	font-weight: 700;
}
.air-datepicker-nav {
	border-bottom: none;
}
.air-datepicker-nav--title {
	font-family: "Montserrat";
	font-size: $h2;
	line-height: $lh_h2;
	color: $dark-100;
	font-weight: 700;
}
.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-focus- {
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	font-weight: 700;
	border-radius: 50%;
}
.air-datepicker-cell.-in-range- {
	background: linear-gradient(180deg, rgba(#bc9cff, 0.25) 0%, rgba(#8ba4f9, 0.25) 100%);
}
.air-datepicker-cell.-day-.-focus-.-in-range- {
	border-radius: 0;
}
.air-datepicker-cell.-focus- {
	border-radius: 50%;
}
.air-datepicker-body--cells.-days- {
	grid-auto-rows: 40px;
	grid-template-columns: repeat(7, 40px);
}
.air-datepicker--content {
	padding: 0;
}
.air-datepicker-cell.-current- {
	color: #fff;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
	border-radius: 50%;
	font-weight: 700;
}
.air-datepicker-cell.-current-.-focus- {
	color: #fff;
}
.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current- {
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.calender__arrow {
	font-size: 15px;
	color: $purple;
}
.calender__arrow_prev {
	transform: rotate(180deg);
}
/* end calendar style */
