/* start room-filter style */
@import "@variables";
@import "@mixin";
.room-filter {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  &__article {
    max-width: 266px;
    padding-right: 15px;
  }
  &__filter-date {
    margin-bottom: 20px;
  }
  &__guests {
    margin-bottom: 30px;
  }
  &__slider {
    margin-bottom: 29px;
  }
  &__checkbox {
    max-width: 230px;
    margin-bottom: 31px;
  }
  &__checkbox-rich {
    margin-bottom: 28.5px;
  }
  &__rooms {
    margin-bottom: 25px;
  }
}
.cards-room {
  &__title {
    font-size: $h1;
    line-height: $lh_h1;
    color: $dark-100;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__cards {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-row-gap: 19px;
    grid-column-gap: 12px;
    margin-bottom: 40px;
  }
  &__pagination {
    padding-right: 15px;
  }
}
.slider {
  &__text {
    margin-top: 15.5px;
    font-size: $h3;
    line-height: $lh_h3;
    color: $dark-50;
  }
}
.border-bottom {
  width: 100%;
  height: 1px;
  background-color: $dark-25;
}
@media (min-width: 1440px) {
  .room-filter._container {
    align-self: center;
  }
  .room-filter {
    &__article {
      padding-right: 60px;
    }
  }
}
@media (max-width: 1300px) {
  .cards-room {
    &__cards {
      grid-template-columns: repeat(2, 270px);
    }
  }
}
/* end room-filter style */