extends /pages/base.pug

block head
  title Toxin
block content
  include /pop-up/card/card.pug
  include /pop-up/card/card-focus/card-focus.pug
  include /components/dropdown/dropdown-guests/dropdown-guests.pug
  include /components/buttons/checkbox/checkbox-block.pug
  include /components/checkbox-rich/checkbox-rich.pug
  include /components/dropdown/dropdown-room/dropdown-room.pug
  include /components/checkbox-list/checkbox-list.pug
  include /components/buttons/paginator/paginator.pug
  include /components/slider/slider.pug
  body
    .wrapper.wrapper-toxin
      include /components/headers/header-reg/header-reg.pug
      include /components/headers/header-login/header-login.pug
      include /components/filter-date/filter-date.pug
      .room-filter._container
        .room-filter__article
          .room-filter__filter-date
            +filterDate("даты пребывания в отеле")
          .room-filter__guests
            +dropGuests("Гости", "2", "0", "1")
          .room-filter__slider.slider
            +sliderElem("диапазон цены")
            .slider__text Стоимость за сутки пребывания в номере
          .room-filter__checkbox
            +checkboxElem("правила дома")
          .room-filter__checkbox-rich.checkbox-rich
            h3.checkbox-rich__title.title-style доступность
            .checkbox-rich__container
              +checkboxRich("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
              +checkboxRich("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
          .room-filter__rooms
            +dropdownRoom("удобства номера")
          .room-filter__checkbox-list
            +checkboxList("дополнительные удобства")
        .room-filter__cards.cards-room
          h1.cards-room__title Номера, которые мы для вас подобрали
          .cards-room__cards
            +cardFocusSlider()
            +cardSlider("../src/images/card-2.jpg", "../src/images/card-1.jpg", "4", "840", "", "9 900₽", "65")
            +cardSlider("../src/images/card-3.jpg", "../src/images/card-2.jpg", "3", "980", "люкс", "8 500₽", "35")
            +cardSlider("../src/images/card-4.jpg", "../src/images/card-3.jpg", "5", "856", "", "7 300₽", "19")
            +cardSlider("../src/images/card-5.jpg", "../src/images/card-4.jpg", "4", "740", "", "6 000₽", "44")
            +cardSlider("../src/images/card-6.jpg", "../src/images/card-5.jpg", "3", "982", "", "5 800₽", "56")
            +cardSlider("../src/images/card-7.jpg", "../src/images/card-6.jpg", "5", "678", "", "5 500₽", "45")
            +cardSlider("../src/images/card-8.jpg", "../src/images/card-7.jpg", "4", "450", "", "5 300₽", "39")
            +cardSlider("../src/images/card-9.jpg", "../src/images/card-8.jpg", "3", "350", "", "5 000₽", "77")
            +cardSlider("../src/images/card-10.jpg", "../src/images/card-9.jpg", "5", "666", "", "5 000₽", "25")
            +cardSlider("../src/images/card-11.jpg", "../src/images/card-10.jpg", "3", "444", "", "5 000₽", "15")
            +cardSlider("../src/images/card-12.jpg", "../src/images/card-11.jpg", "3", "352", "", "5 000₽", "55")
          .cards-room__pagination
            +pagination("")
      .border-bottom
      .popup.popup-reg
        include /pop-up/reg-card/reg-card.pug
      .popup.popup-login
        include /pop-up/login-card/login-card.pug
      include /components/footers/footer/footer.pug
      include /components/footers/footer-mobile/footer-mobile.pug