@import "@variables";
.form-element__container {
	display: flex;
	justify-content: space-between;
}
.form-element__first-block {
	margin-top: 32px;
	width: $form_width;
}
.form-element__second-block {
	margin-top: 32px;
	width: $form_width;
}
.form-element__third-block {
	margin-top: 32px;
	width: 400px;
}
.title-style {
	font-size: $h3;
	line-height: $lh_h3;
	font-weight: 700;
	color: $dark-100;
	text-transform: uppercase;
}
