extends /pages/base.pug

block head
	title Form-Element
block content
	include /components/text-field/text-field.pug
	include /pages/header/header_ui.pug
	.form-element__container._container
		form.form-element__first-block
			.text-field__container
				+textField('Text Field', 'Default', 'Email')
				+textField('Text Field', 'Hover / Focus', 'This is pretty awesome')
			include /components/dropdown-first-block/dropdown-first-block.pug
			.date-of-birth
				include /components/date-of-birth/date-of-birth.pug