extends /pages/base.pug

block head
	title Form-Element
block content
	include /pages/header/header_ui.pug
	.container-total._container
		.form-element__container-one._container-form
			form.form-element__first-block
				include /components/text-field/text-field-block.pug
				include /components/dropdown/dropdown.pug
				include /components/calendar/calendar.pug
				include /components/date-dropdown/date-dropdown.pug
				include /components/filter-date/filter-date.pug
				include /components/sub-field/sub-field.pug
			form.form-element__second-block
				include /components/buttons/checkbox/checkbox-block.pug
				include /components/buttons/radio-button/radio-button-block.pug
				include /components/buttons/toggle/toggle-block.pug
				include /components/buttons/like/like-block.pug
				include /components/buttons/rate/rate-block.pug
			form.form-element__third-block
				include /components/slider/slider-block.pug
				include /components/buttons/buttons/buttons.pug
				include /components/buttons/paginator/paginator.pug
		.form-element__container-three._container-form
			form.form-element__list
				include /components/checkbox-list/checkbox-list-block.pug
				include /components/checkbox-rich/checkbox-rich-block.pug
				include /components/bullet-list/bullet-list.pug
		.form-element__container-four._container-form
			form.form-element__other
				include /components/benefits/benefits-block.pug
				include /components/review/review-block.pug