extends /pages/base.pug

block head
	title Form-Element
block content
	include /components/text-field/text-field.pug
	include /pages/header/header_ui.pug
	.form-element__container._container
		form.form-element__first-block
			.text-field__container
				+textField('Text Field', 'Default', 'Email')
				+textField('Text Field', 'Hover / Focus', 'This is pretty awesome')
			include /components/dropdown/dropdown.pug
			.date-of-birth
				include /components/date-of-birth/date-of-birth.pug
		form.form-element__second-block
			.checkbox-container
				include /components/buttons/checkbox/checkbox-block.pug
			.radio-buttons-container
				include /components/buttons/radio-button/radio-button-block.pug
			.toggle-container
				include /components/buttons/toggle/toggle-block.pug
			.like-container
				include /components/buttons/like/like-block.pug
			.rate-container
				include /components/buttons/rate/rate-block.pug
		form.form-element__third-block
			.slider-container
				include /components/slider/slider-block.pug