/* start filter-date style */
@import "@variables";
@import "@mixin";
.filter-date__container {
	margin-bottom: 40px;
	width: 266px;
}
.filter-date {
	position: relative;
	box-sizing: border-box;
	&__input {
		// font-size: $fz_body;
		@include adaptive-value("font-size", 14, 11, 1);
		color: $dark-75;
		width: 100%;;
		@include adaptive-value("height", 44, 30, 1);
		border: 1px solid $dark-25;
		border-radius: 4px;
		padding-left: 14.5px;
		padding-bottom: 2.5px;
		text-transform: lowercase;
		&:focus,
		&:hover {
			border: 1px solid $dark-50;
		}
		&::-webkit-input-placeholder {
			text-transform: uppercase;
		}
		&::-moz-placeholder {
			text-transform: uppercase;
		} /* Firefox 19+ */
		&:-moz-placeholder {
			text-transform: uppercase;
		} /* Firefox 18- */
		&:-ms-input-placeholder {
			text-transform: uppercase;
		}
	}
	&__text {
		margin-bottom: 5px;
	}
	&__label {
		position: absolute;
		font-size: 13px;
		right: 6%;
		@include adaptive-value("top", 31, 22, 1);
		transition: 0.4s;
	}
}
/* end filter-date style */
