.filter-date
	h3.filter-date__text.title-style filter date dropdown
	input(class="filter-date__input filter-date__input-calendar" type="text", id="calendar-filter", placeholder="ДД.ММ - ДД.ММ")
	label(class="filter-date__label icon-more")