mixin like(num, check)
	label(class="like__label")
		input(class="like__input" type="checkbox" checked=check)
		span.like__check=num
		span.like__span.like__span-icon.icon-favorite
		span.like__span.like__span-icon_border.icon-favorite-border