@import "@variables";
/* start like style */
.like {
	margin-bottom: 34px;
	&__title {
		margin-bottom: 16px;
	}
	&__label {
		cursor: pointer;
		position: relative;
		&:not(:last-child) {
			padding-right: 10px;
		}
	}
	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 40px;
		height: 20px;
		border: 1px solid $dark-25;
		border-radius: 10px;
		transition: 0.5s;
		&:checked {
			border-color: $purple;
		}
		&:checked ~ .icon-favorite-border {
			display: none;
		}
		&:checked ~ .icon-favorite {
			display: inline-block;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&:checked ~ .like__check {
			color: $purple;
		}
	}
	&__check {
		position: absolute;
		font-size: 10px;
		color: $dark-25;
		left: 21px;
		bottom: 1.4px;
		transition: 0.5s;
	}
	&__span {
		position: absolute;
		left: 5px;
		bottom: 0.5px;
		&-icon {
			display: none;
			font-size: 8px;
		}
		&-icon_border {
			font-size: 10px;
			color: $dark-25;
		}
	}
}
/* end like style */
