include /components/text-field/text-field.pug
include /components/buttons/radio-button/radio-button.pug
include /components/calendar/calendar-mixin.pug
include /components/buttons/toggle/toggle.pug
include /components/buttons/buttons/buttons-mixin/button-price.pug
include /components/buttons/buttons/buttons-mixin/button-border.pug
form(action="#" class="reg-card cards-element")
	.reg-card__container._container-card
		h1.reg-card__title Регистрация аккаунта
		.reg-card__field
			+textField("text", "", "", "name", "Имя")
			+textField("text", "", "", "surname", "Фамилия")
		.reg-card__radio-btn
			+radio-button()
		.reg-card__calendar
			+calendar("дата рождения")
		.reg-card__mail
			+textField("text", "данные для входа в сервис", "", "email", "Email")
			+textField("password", "", "", "password", "Пароль")
		.reg-card__toggle
			+toggle("special-offers", "Получать спецпредложения")
		.reg-card__button
			+buttonPrice("зарегистрироваться")
		.reg-card__login.reg-login
			.reg-login__text Уже есть аккаунт на Toxin
			.reg-login__button
				+buttonBorder("войти")