/* start reg-card style */
@import "@variables";
@import "@mixin";
.reg-card {
	&__title {
		@include adaptive-value("font-size", 24, 16, 1);
		line-height: $lh_h1;
		color: $dark-100;
		font-weight: 700;
		margin-bottom: 16px;
	}
	&__field {
		margin-bottom: 8px;
		& > *:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	&__radio-btn {
		margin-bottom: 22px;
	}
	&__calendar {
		margin-bottom: 20px;
	}
	&__mail {
		margin-bottom: 8px;
		& > *:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	&__toggle {
		margin-bottom: 20px;
	}
	&__button {
		margin-bottom: 30px;
	}
}
.reg-login {
	display: flex;
	justify-content: space-between;
	&__text {
		line-height: 44px;
	}
}
/* end reg-card style */
