include /components/buttons/buttons/buttons-mixin/button-price.pug
include /components/dropdown/dropdown-guests/dropdown-guests.pug
include /components/date-dropdown/date-dropdown.pug
form(action="#" class="room-select cards-element")
	section.room-select__container._container-card
		h1.room-select__title Найдём номера под ваши пожелания
		.room-select__date-container
			+dateDropdown("прибытие", "выезд")
		.room-select__drop-container
			+dropGuests("гости", "0", "0", "0")
		.room-select__btn-container
			+buttonPrice("подобрать номер")
