/* start room-select block style */
@import "@variables";
@import "@mixin";
.room-select {
	margin-bottom: 40px;
	&__title {
		@include adaptive-value("font-size", 24, 16, 1);
		line-height: $lh_h1;
		font-weight: 700;
		color: $dark-100;
		@include adaptive-value("margin-bottom", 22, 16, 1);
	}
	&__date-container {
		@include adaptive-value("margin-bottom", 20, 15, 1);
		& .date-dropdown__input {
			padding-left: 14px;
			padding-bottom: 3px;
		}
	}
	&__drop-container {
		@include adaptive-value("margin-bottom", 30, 20, 1);
		& .dropdown-guests__input {
			padding-left: 14px;
		}
		& .dropdown-guests__label {
			right: 5%;
		}
	}
	&__btn-container {
		& .button__span {
			right: 4%;
		}
		& .button__item-price {
			padding-top: 14.5px;
			padding-bottom: 14.5px;
			padding-left: 13px;
			padding-right: 16px;
		}
	}
}
/* end room-select block style */
