/* start room-select block style */
@import "@variables";
@import "@mixin";
.room-select {
	margin-bottom: 40px;
	&__title {
		@include adaptive-value("font-size", 24, 14, 1);
		line-height: $lh_h1;
		font-weight: 700;
		color: $dark-100;
		@include adaptive-value("margin-bottom", 22, 16, 1);
	}
	&__date-container {
		@include adaptive-value("margin-bottom", 20, 15, 1);
	}
	&__drop-container {
		@include adaptive-value("margin-bottom", 30, 20, 1);
	}
}
/* end room-select block style */
