extends /pages/base.pug

block head
  title headers-footers
block content
  body.headers-footers
    include /pages/header-ui/header_ui.pug
    .headers
      include /components/headers/header-reg/header-reg.pug
      include /components/headers/header-login/header-login.pug
    .footers
      include  /components/footers/footer/footer.pug
      include  /components/footers/footer-mobile/footer-mobile.pug