extends /pages/base.pug

block head
  title Toxin
block content
  body
    .wrapper.wrapper-toxin
      include /components/headers/header-reg/header-reg.pug
      include /components/headers/header-login/header-login.pug
      main.main-page
        .main-page__background
          .main-page__image
            img(src="../src/images/background-image-1.png" alt="background-image")
          .main-page__text Лучшие номера для вашей работы, отдыха и просто вдохновени
      .main-page__card
        include /pop-up/room-select/room-select.pug
      include  /components/footers/footer/footer.pug
      include  /components/footers/footer-mobile/footer-mobile.pug
