mixin rate()
	.rate__items
		label(class="rate__label icon-star-border")
			input(type="radio" class="rate__item" name="rating" value="5")
			span(class="rate__span icon-star")
		label(class="rate__label icon-star-border")
			input(type="radio" class="rate__item" name="rating" value="4")
			span(class="rate__span icon-star")
		label(class="rate__label icon-star-border")
			input(type="radio" class="rate__item" name="rating" value="3")
			span(class="rate__span icon-star")
		label(class="rate__label icon-star-border")
			input(type="radio" class="rate__item" name="rating" value="2")
			span(class="rate__span icon-star")
		label(class="rate__label icon-star-border")
			input(type="radio" class="rate__item" name="rating" value="1")
			span(class="rate__span icon-star")