@import "@variables";
/* start rate style */
.rate > *:not(:last-child) {
	margin-right: 25px;
}
.rate__title {
	margin-bottom: 16px;
}
.rate__items {
	display: inline-flex;
	flex-direction: row-reverse;
	&[data-total-rate="1"] .rate__item:nth-child(n + 5) > .icon-star,
	&[data-total-rate="2"] .rate__item:nth-child(n + 4) > .icon-star,
	&[data-total-rate="3"] .rate__item:nth-child(n + 3) > .icon-star,
	&[data-total-rate="4"] .rate__item:nth-child(n + 2) > .icon-star,
	&[data-total-rate="5"] .rate__item:nth-child(n + 1) > .icon-star {
		display: inline-block;
	}
	& > *:not(:first-child) {
		padding-right: 4px;
	}
}
.rate__item {
	font-size: 20px;
	position: relative;
	cursor: pointer;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&:hover,
	&:hover ~ .rate__item {
		color: #a884f7;
	}
}
.rate__span {
	font-size: 19px;
	position: absolute;
	z-index: 2;
	left: 0;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-star {
	display: none;
}
/* end rate style */
