mixin rate(number = 5)
	.rate__items(data-total-rate=number)
		.rate__item.icon-star-border(data-item-rate="5")
			span.rate__span.icon-star
		.rate__item.icon-star-border(data-item-rate="4")
			span.rate__span.icon-star
		.rate__item.icon-star-border(data-item-rate="3")
			span.rate__span.icon-star
		.rate__item.icon-star-border(data-item-rate="2")
			span.rate__span.icon-star
		.rate__item.icon-star-border(data-item-rate="1")
			span.rate__span.icon-star