@import "@variables";
.rate__title {
	margin-bottom: 16px;
}
.rate__items {
	height: 24.2px;
	width: 116px;
	display: flex;
	flex-direction: row-reverse;
	& > label:not(:first-child) {
		padding-right: 4px;
	}
}
.rate__label {
	position: relative;
}
.rate__span {
	position: absolute;
	left: 0;
}
.rate__item {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:checked ~ .rate__span {
		display: inline-block;
	}
	&:checked ~ .rate__label {
		display: none;
	}
}
.icon-star-border {
	font-size: 20px;
	line-height: 121%;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-star {
	font-size: 19px;
	line-height: 123%;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: none;
}
