@import "@variables";
.checkbox {
	width: $df_width;
	&__list > *:not(:last-child) {
		margin-bottom: 6px;
	}
	&__title {
		font-size: $h3;
		line-height: $lh_h3;
		font-weight: 700;
		color: $dark-100;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	&__label {
		display: block;
		position: relative;
		padding-left: 30px;
	}
	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	&__check {
		position: absolute;
		top: 0.08em;
		left: 0;
		width: 20px;
		height: 20px;
		border: 1.5px solid $dark-25;
		border-radius: 4px;
	}
}
.icon-vector {
	position: absolute;
	font-size: 10px;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0.48em;
	top: 0.56em;
}
.check-purple {
	border: 1.5px solid $purple;
}
