/* start checkbox style */
@import "@variables";
@import "@mixin";
.checkbox-container {
	margin-bottom: 41px;
}
.checkbox {
	box-sizing: border-box;
	&__title {
		@include adaptive-value("margin-bottom", 17, 10, 1);
	}
	&__list > label:not(:last-child) {
		@include adaptive-value("margin-bottom", 13, 9, 1);
	}
	&__label {
		@include adaptive-value("font-size", 14, 11, 1);
		text-transform: none;
		font-weight: 400;
		cursor: pointer;
		color: $dark-50;
		display: block;
		position: relative;
		@include adaptive-value("padding-left", 30, 20, 1);
		line-height: 127%;
	}
	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: absolute;
		top: -1.5px;
		left: 0;
		@include adaptive-value("width", 20, 16, 1);
		@include adaptive-value("height", 20, 16, 1);
		border: 1px solid $dark-25;
		border-radius: 4px;
		transition: 0.5s;
		&:checked {
			border-color: $purple;
		}
		&:checked ~ .checkbox__check {
			display: inline-block;
		}
	}
	&__check {
		font-size: 10px;
		position: absolute;
		@include adaptive-value("left", 5, 3, 1);
		top: 1px;
		display: none;
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
/* end checkbox style */
