include /components/bullet-list/bullet-list.pug
.bullet-list-container
  h3.bullet-list__title.title-style bullet list
  ul.bullet-list__items
    +bulletList("Нельзя с питомцами")
    +bulletList("Без вечеринок и мероприятий")
    +bulletList("Время прибытия — после 13:00, а выезд до 12:00")