/* start site style */
@import "@variables";
@import "@mixin";
.main-page {
  &__content {
    position: relative;
    width: 100%;
    flex: 1 1 100%;
  }
  &__text {
    max-width: 297px;
    position: absolute;
    @include adaptive-value("bottom", 18, 5, 1);
    @include adaptive-value("right", 134, 10, 1);
  }
  &__background {
    position: relative;
    overflow: hidden;
    height: calc(473px + (830 - 473) * ((100vw - 768px) / (1440 - 768)));
  }
  &__background.reg-background {
    display: none;
    @include adaptive-value("height", 683, 500, 1);
  }
  &__image {
    transform: scale(1.07);
    position: absolute;
    top: 0;
    right: 0;
    & img {
      width: 100%;
      object-fit: cover;
      object-position: 0% -90px;
    }
  }
  &__image.reg-image {
    transform: scale(1);
    & img {
      object-position: -28px -238px;
    }
  }
  &__card {
    position: absolute;
    box-sizing: border-box;
    top: 8.1%;
    left: 9.2%;
  }
}
.popup {
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin: 0 0 0 -190px;
  transition: 0.5s;
  &-reg {
    top: 90px;
    left: 50%;
  }
  &-login {
    top: 233px;
    left: 50%;
  }
}
.popup.popup_active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .main-page {
    &__background {
      min-height: 650px;
    }
    &__image img {
      min-height: 650px;
      object-position: center;
    }
  }
}
@media (max-width: #{$table-width + px}) {
  .wrapper-toxin > .footer {
    display: none;
  }
  .main-page {
    &__image img {
      min-height: 550px;
      object-position: center;
    }
    &__text {
      display: none;
    }
    &__background {
      min-height: 473px;
    }
  }
}
@media (min-width: #{$table-width + 1 + px}) {
  .wrapper-toxin > .footer-mobile {
    display: none;
  }
}
@media (max-width: 460px) {
  .main-page {
    &__card {
      left: 0;
    }
  }
}
@media (min-width: 1440px) {
  .main-page {
    &__image.reg-image {
      width: calc(1420px + (2000 - 1420) * ((100vw - 1440px) / (1920 - 1440)));
    }
    &__background.reg-background {
      height: calc(653px + (800 - 653) * ((100vw - 1440px) / (1920 - 1440)));
    }
  }
}
@media (max-width: #{$table-width + 1 + px}) {
  .main-page {
    &__card {
      top: 18.1%;
    }
  }
}
/* end site style */