extends /pages/base.pug

block head
  title Toxin
block content
  body
    .wrapper
      include /components/headers/header-reg/header-reg.pug
      .site-content
      include  /components/footers/footer/footer.pug
