.colors-type__container {
	display: flex;
	justify-content: space-between;
}
.main__colors-type {
	margin-top: 37px;
}
// header-ui style block
@import "../colors&type/header-ui.scss";
// colors style block
@import "../colors&type/colors.scss";
// text style block
@import "../colors&type/text.scss";
