/* start paginator style */
@import "@variables";
@import "@mixin";
.paginator-container {
	width: 241px;
}
.paginator {
	&__title {
		@include adaptive-value("margin-bottom", 16, 10, 1);
	}
	&__subtitle {
		text-align: center;
	}
	&__list {
		margin-bottom: 7.9px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		cursor: pointer;
		text-align: center;
		@include adaptive-value("font-size", 12, 10, 1);
		line-height: 40px;
		color: $dark-50;
		& li {
			@include adaptive-value("width", 40, 30, 1);
			@include adaptive-value("height", 40, 30, 1);
		}
	}
	&__number {
		@include adaptive-value("line-height", 40, 30, 1);
		border-radius: 50%;
		&_active,
		&:hover {
			font-weight: 700;
			color: #fff;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		}
	}
	&__span {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
		border-radius: 50%;
		&:hover,
		&:focus {
			opacity: 0.85;
		}
		&:active {
			opacity: 0.5;
		}
	}
	&__arrow {
		color: #fff;
		position: absolute;
		@include adaptive-value("top", 2, -4, 1);
		@include adaptive-value("left", 11, 9, 1);
		@include adaptive-value("font-size", 18, 14, 1);
		
		&-prev {
			transform: rotate(180deg);
			@include adaptive-value("bottom", 1, -4, 1);
			@include adaptive-value("left", 11, 8, 1);
			// left: 11px;
			// bottom: 1px;
		}
	}
}
/* end paginator style */
