.paginator
	h3.paginator__title.title-style pagination
	ul.paginator__list
		li.paginator__number.paginator__number_active
			span 1
		li.paginator__number
			span 2
		li.paginator__number
			span 3
		li.paginator__dots
			span ...
		li.paginator__number
			span 15
		li.paginator__li-next
			span.paginator__span
				i.paginator__arrow.paginator__arrow-next.icon-arrow
	.paginator__subtitle 1 – 12 из 100+ вариантов аренды