.paginator
	h3.paginator__title.title-style pagination
	ul.paginator__list
		//- li.paginator__li-prev
		//- 	span.paginator__span
		//- 		i.paginator__arrow.paginator__arrow-prev.icon-arrow
		//- li.paginator__number.paginator__number_active
		//- 	span 1
		//- li.paginator__number
		//- 	span 2
		//- li.paginator__dots
		//- 	span ...
		//- li.paginator__number
		//- 	span 5
		//- li.paginator__number
		//- 	span 6
		//- li.paginator__dots
		//- 	span ...
		//- li.paginator__number
		//- 	span 7
		//- li.paginator__li-next
		//- 	span.paginator__span
		//- 		i.paginator__arrow.paginator__arrow-next.icon-arrow