/* Подключение шрифтов */
@font-face {
	font-family: "Montserrat";
	src: local("☺"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
		url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: local("☺"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
		url("../fonts/Montserrat-Bold/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
/* Конец поключения шрифтов */
