@import "../scss/fonts.scss";
@import "../scss/null.scss";

// Переменные body

$color: rgba(31, 32, 65, 0.75);
$fz: 14px;
$lh: calc(24 / 14 * 100%);
$bg: #e5e5e5;

// Переменные блока header__ui

$hg_icon: 108px;

// Переменные блока colors

$fz_colors: 19px;
$lh_colors: calc(28 / 19 * 100%);
$cr_colors: #1f2041;

// Конец переменных

html,
body {
	font-family: Montserrat, sans-serif;
	font-size: $fz;
	line-height: $lh;
	color: $color;
	background-color: $bg;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
}
._container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}

/*   header__ui style start  	*/

.ui-header__container {
	min-height: $hg_icon;
	align-items: center;
	display: grid;
}

/*   header__ui style end  	*/

/*   color style start  	*/

.colors {
	display: flex;
	flex-direction: column;
	color: $cr_colors;
	& > * :not(:last-child) {
		margin-bottom: 20px;
	}
	&__block {
		display: flex;
		align-items: center;
	}
	&__rectangle {
		width: 70px;
		height: 70px;
		border-radius: 8px;
		margin-right: 40px;
	}
	&__black_100 {
		background-color: #1f2041;
	}
	&__black_75 {
		background-color: rgba(31, 32, 65, 0.75);
	}
	&__black_50 {
		background-color: rgba(31, 32, 65, 0.5);
	}
	&__black_25 {
		background-color: rgba(31, 32, 65, 0.25);
	}
	&__black_5 {
		background-color: rgba(31, 32, 65, 0.05);
	}
	&__purple {
		background-color: #bc9cff;
	}
	&__green {
		background-color: #6fcf97;
	}
	&__title {
		font-weight: 700;
	}
}

/*   color style end  	*/
