/* Глобальные стили */
@import "@variables";
@import "@mixin";
html,
body {
	font-family: Montserrat, sans-serif;
	font-size: $fz_body;
	line-height: $lh_body;
	color: $color;
}
.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	& > .header-login {
		display: none;
	}
}
._container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}
.title-style {
	@include adaptive-value("font-size", 12, 10, 1);
	line-height: $lh_h3;
	font-weight: 700;
	color: $dark-100;
	text-transform: uppercase;
}
@media (min-width: 1441px) {
	._container {
		max-width: 1750px;
	}
}
@media (min-width: #{$table-width + 1 + px}) {
  .wrapper-toxin > .footer-mobile {
    display: none;
  }
}

/* Конец глобальных стилей */
