/* Глобальные стили */
@import "@variables";
@import "@mixin";
html,
body {
	font-family: Montserrat, sans-serif;
	font-size: $fz_body;
	line-height: $lh_body;
	color: $color;
}
.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	& > .header-login {
		display: none;
	}
}
._container {
	max-width: $dekstop-width;
	padding: 0 5px;
}
.title-style {
	@include adaptive-value("font-size", 12, 10, 1);
	line-height: $lh_h3;
	font-weight: 700;
	color: $dark-100;
	text-transform: uppercase;
}
@media (min-width: $dekstop-width) {
	._container {
		margin: 0 auto;
	}
}
@media (max-width: $dekstop-width) {
	._container {
		@include adaptive-value("margin-right", 140, 5, 1);
		@include adaptive-value("margin-left", 140, 5, 1);
	}
}
@media (max-width: $table-width) {
	._container {
		margin: 0 auto;
	}
}
/* Конец глобальных стилей */
