@import "@variables";
/* Глобальные стили */
html,
body {
	font-family: Montserrat, sans-serif;
	font-size: $fz_body;
	line-height: $lh_body;
	color: $color;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
}
._container {
	max-width: $dekstop-width;
	margin: 0 auto;
	padding: 0 10px;
}
/* Конец глобальных стилей */
