/* start cards style */
@import "@variables";
@import "@mixin";
.body-cards {
	min-height: 100%;
	background-color: #F4F4F6;
}
.cards {
	display: flex;
	justify-content: space-between;
	&._container {
		padding-bottom: 30px;
	}
}
/* end cards style */