include /components/text-field/text-field.pug
.text-field__container
	+textField("text", "Text Field", "Default", "email", "Email")
	+textField("text", "Text Field", "Hover / Focus", "text", "This is pretty awesome")