@import "@variables";
/* start slider style */
.slider {
	margin-bottom: 44px;
}
.slider-header {
	display: flex;
	margin-bottom: 22px;
}
.slider__price {
	color: $dark-50;
	line-height: 0;
}
.slider__title {
	margin-right: 62px;
}
.slider__label:first-child {
	margin-right: 4px;
}
.slider__label:last-child {
	margin-left: 4px;
}
.slider__currency {
	line-height: 100%;
}
.slider__input {
	font-size: $h3;
	color: $dark-50;
	width: 38px;
	height: 10px;
}
.slider__input_right {
	text-align: end;
}
.slider__label {
	font-size: $h3;
	line-height: $lh_h3;
}
.slider__filter {
	max-width: 266px;
}
.noUi-handle {
	background-color: $green;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: none;
}
.noUi-handle:after,
.noUi-handle:before {
	display: none;
}
.noUi-horizontal .noUi-handle {
	top: -6.5px;
	right: -6px;
	width: 16px;
	height: 16px;
}
.noUi-target {
	background: none;
	box-shadow: none;
	border: 1px solid $dark-25;
	height: 5.5px;
}
.noUi-connect {
	height: 5.5px;
	background-color: $green;
}
/* end slider style */
