.slider__header
	.slider__title.title-style Range Slider
	.slider__price
		label.slider__label
			input(type="number" min="1000" max="15000" class="slider__input" placeholder="1000")
			span.slider__currency ₽
		span.slider__dash -
		label.slider__label
			input(type="number" min="1000" max="15000" class="slider__input" placeholder="15000")
			span.slider__currency ₽
.slider__filter(id="slider-block")