/* start slider style */
@import "@variables";
.slider__container {
	margin-bottom: 44px;
}
.slider {
	max-width: 266px;
	&-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 22px;
		&__value {
			font-size: $h3;
			line-height: $lh_h3;
			color: $dark-50;
		}
	}
}
.noUi-handle {
	cursor: pointer;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: none;
}
.noUi-handle:after,
.noUi-handle:before {
	display: none;
}
.noUi-horizontal .noUi-handle {
	top: -5.8px;
	right: -6px;
	width: 15px;
	height: 15px;
}
.noUi-target {
	background: none;
	box-shadow: none;
	border: 1px solid $dark-25;
	height: 5.5px;
}
.noUi-connect {
	top: -1px;
	height: 6px;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.noUi-connects {
	overflow: visible;
}
/* end slider style */
