mixin subField(text, placeholder)
	.sub-field
		h3.sub-field__title.title-style=text
		.sub-field__field
			input(class="sub-field__input" id="sub-field" placeholder=placeholder)
			label(class="sub-field__label icon-arrow" for="sub-field")